<div class="mt-4 container">
  <form method="POST" action="">
    <div class="form-group">
      <label for="searchInput">Từ khoá</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="searchInput"
        placeholder="Nhập từ khoá"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>